<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adm</title>
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/Adm.css}">

</head>
<body>
    
<div class="home">
    <div class="left"> 
        <h1>Administrativo</h1>
        <div class="Acesso">
         <a>Mensagens</a>
         <a>Sistema</a>
         <a>Configurações</a>
        </div>

         <div class="logout">
                <button> Logon <i class="fas fa-sign-out-alt"></i></button>
        </div>
    </div>
    <div class="right">
        <div class="itens">
         <div class="onename"> 
            <h1> Reports</h1>
         </div>
            <div class="two">
                <select  class="slc"name="" id="">
                    <option style="display: none;" value="">Selecione o filtro</option>
                    <option class="opt" value="">Bugs/Erros</option>
                    <option class="opt" value="">Sugestões</option>
                    <option class="opt" value="">Contato</option>
                    <option class="opt" value="">Extras</option>
                </select>
                <button> Verificar</button>
            </div>
        </div>
        <section class="recebimento">
         
                <span class="report">
                    <div class="apparence">
                        <div class="assunto">
                       
                       <span>Assunto:</span>  Extra
                    </div>
                     <div class="email">
                        <span>Email</span>777666@gmail.com
                     </div>
                     <div class="data">
                        <span>Data:</span>25/06/2021
                     </div>
                     <div class="seta">
                                    <div class="down"> ↓ </div> 
                                    <div class="up"> ↑ </div> 
                     </div>
                    </div>
                    
                    <div class="sucesso">
                        <div class="textousuario">
                            <h1>Texto recebido</h1>
                            <span class="text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                </span>

                            <div class="imagem">
                                Foto recebida
                             <img src="AAA1.jpg" alt="">
                            </div>
                         </div>

        
                    </div>

                </span>
                
                <span class="report">
                    <div class="apparence">
                        <div class="assunto">
                       
                       <span>Assunto:</span>  Extra
                    </div>
                     <div class="email">
                        <span>Email</span>777666@gmail.com
                     </div>
                     <div class="data">
                        <span>Data:</span>25/06/2021
                     </div>
                     <div class="seta">
                                    <div class="down"> ↓ </div> 
                                    <div class="up"> ↑ </div> 
                     </div>
                    </div>
                    
                    <div class="sucesso">
                        <div class="textousuario">
                            <h1>Texto recebido</h1>
                                <span class="text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, accusantium voluptate. Dolores tempore commodi deserunt itaque, porro omnis. Expedita fugiat hic excepturi, possimus corrupti consectetur error fugit sapiente cumque fuga.
                                </span>

                            <div class="imagem">
                                Foto recebida
                             <img src="AAA1.jpg" alt="">
                            </div>
                         </div>

        
                    </div>

                </span>
               
               
                
           
        </section>
    </div>





</div>



<script type="text/javascript">
    const  reports = document.querySelectorAll(".report")
    const  dale = document.querySelectorAll(".dale")
 
          
     reports.forEach((report) =>{
        report.addEventListener("click",()=>{
           
            if(report.classList=="report"){
                 report.classList.toggle("active");
                 
                 
            } else if(report.classList=="report active"){
                report.classList.remove("active");
               
                
            }else{
                console.log("erro")
            }
          
        })
     })

     
       </script>

    
</body>
</html>