<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ganet</title>

  <!--CSS-->
  <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/perfil.css}">
</head>

<body onload="chekar()">
  <!---CORPO-->
  <nav class="navbarT">
    <div class="navcentro">
      <div id="logo" class="a">
        Ganet
      </div>
    </div>
  </nav>

  <div class="principal">

    <div class="pleft">
      <div class="menu">
        <a th:href="@{/time-line}"><button class="btm"><i class="fas fa-stream"></i><span class="sumir"> Home
            </span></button></a>
        <a th:href="@{/chat}"><button class="btm"><i class="fas fa-comment"></i><span class="sumir"> Chat
            </span></button></a>
        <a th:href="@{|/perfil/${usuario_logado.login}|}"><button class="btm"><i class="fas fa-user"></i><span
              class="sumir"> Perfil </span></button></a>
        <a th:href="@{/perfil/editar}"><button class="btm"><i class="fas fa-cog"></i><span class="sumir"> Configurações
            </span></button></a>
      </div>


      <div class="miperfil" th:href="@{|perfil/${usuario_logado.login}|}">
        <div class="logout" id="logout" style="display: none;">
            <a th:href="@{/logout}"><button><i class="fas fa-sign-out-alt"></i><span> Logout </span></button></a>
        </div>
        <div class="mini">
            <div class="mini-img sumir">
                <a th:href="@{|/perfil/${usuario_logado.login}|}"><img th:src="${usuario_logado.foto}"></a>
            </div>

            <div class="mini-img sumir2">
                <a onclick="if(document.getElementById('logout').style.display == 'none'){document.getElementById('logout').style.display='block'}else{document.getElementById('logout').style.display='none'}"><img th:src="${usuario_logado.foto}"></a>
            </div>

            <div class="nomes sumir">
                <span th:text="${usuario_logado.nome}" class="mini-nome"></span>
                <span th:text="${usuario_logado.login}" class="mini-login"></span>
            </div>
            <button class="sumir" onclick="if(document.getElementById('logout').style.display == 'none'){document.getElementById('logout').style.display='block'}else{document.getElementById('logout').style.display='none'}"><i class="fas fa-ellipsis-h"></i></button>
        </div>
    </div>
    </div>

    <div class="pmid" id="pmid">
      <div class="fotoC">
        <img th:src="${usuario.capa}">
      </div>

      <div class="about">

        <div class="img-div">
          <div class="fotoP">
            <img th:src="${usuario.foto}">
          </div>
        </div>

        <div class="btns-infos">
          <div class="logins">
            <span class="user-name" th:text="${usuario.nome}"></span>
            <span class="id" th:text="${usuario.login}"></span>
          </div>

          <a th:href="@{/perfil/editar}">
            <button class="btn-editar" th:if="${checkPerfil}">Editar Perfil</button>
          </a>

          <a id="a-seguir" th:href=@{|/perfil/save/${usuario.id}|} style="display: none;">
            <button class="btn-editar" id="btn-seguir">Seguir</button>
          </a>

          <a id="a-deixar" th:href=@{|/perfil/remove/${usuario.id}|} style="display: none;">
            <button class="btn-seguindo" id="btn-deixar" onmouseover="botao(this)"
              onmouseout="botaoX(this)">Seguindo</button>
          </a>
        </div>

        <div class="sobre">
          <div class="dados">
            <span th:text="${usuario.descricao}"></span>
            <span th:text="${usuario.dtNascimento}"></span>
          </div>
          <div>
            <a onclick="seguidores()" style="cursor: pointer;"><span th:text="${seguidoresCont}"
                style="font-weight: bold;"></span><span style="color: gray;"> Seguidores</span></a>
            <a onclick="seguindo()" style="cursor: pointer;"><span th:text="${seguindoCont}"
                style="font-weight: bold;"></span><span style="color: gray;"> Seguindo</span></a>
          </div>
        </div>
      </div>

      <!-- MOBILE ABOUT-->


      <section>
        <div class="postagem" th:each="post : ${posts}">
          <div class="topsidepost">
            <img id="imgpost" th:src="${post.usuario.foto}">
            <div class="nick-texto">
              <span class="nick" th:text="${post.usuario.nome}"></span>
              <div class="ponto">.</div>
              <span class="text-muted" th:text="${post.usuario.login}"></span>
              <span class="textusu" th:text="${post.texto}"></span>
            </div>
          </div>
          <div class="textandimg">
            <span class="imgpostagem" th:if="${post.checkImagem}">
              <img id="postusu" th:src="@{|/getImagem/${post.id}|}">
            </span>
          </div>
          <div class="barra">
            <form th:action="@{|/curtir/${post.id}}" method="POST">
              <button class="like" type="submit"><i class="fas fa-thumbs-up"></i> <span
                  th:text="${post.qtdCurtidas}"></span></button>
            </form>
          </div>
        </div>
      </section>
    </div>

    <div class="seguidores" id="seguidores" style="display: none;">
      <div class="topo">
        <a href=""><button class="btn-voltar"><i class="fas fa-arrow-left"></i></button></a>
        <div class="btns-seg">
          <button onclick="seguidores()" id="btn-seguidores">Seguidores</button>
          <button onclick="seguindo()" id="btn-seguindo">Seguindo</button>
        </div>
      </div>
      <div th:each="seguidores : ${seguidores}" class="div-seguidores"
        th:onclick="'window.location.href = \'' + @{|/perfil/${seguidores.login}|} + '\''">
        <div class="foto-seguidor">
          <img th:src="${seguidores.foto}">
        </div>
        <div class="dados-seguidor">
          <span class="nome-seguidor" th:text="${seguidores.nome}"></span>
          <span class="login-seguidor" th:text="${seguidores.login}"></span>
          <span class="desc-seguidor" th:text="${seguidores.descricao}"></span>
        </div>
        <div class="div-btn-seguidor">
          <a id="a-deixar" th:if="${checkPerfil}" th:href="@{|/seguidores/remove/${seguidores.id}|}">
            <button class="btn-seguidor" id="btn-deixar" onmouseover="botaoRemover(this)"
              onmouseout="botaoSegue(this)">Segue Você</button>
          </a>
        </div>
      </div>
    </div>

    <div class="seguidores" id="seguidores" style="display: none;">
      <div class="topo">
        <a href=""><button class="btn-voltar"><i class="fas fa-arrow-left"></i></button></a>
        <div class="btns-seg">
          <button onclick="seguidores()" id="btn-seguidores">Seguidores</button>
          <button onclick="seguindo()" id="btn-seguindo">Seguindo</button>
        </div>
      </div>
      <div th:each="seguidores : ${seguidores}" class="div-seguidores"
        th:onclick="'window.location.href = \'' + @{|/perfil/${seguidores.login}|} + '\''">
        <div class="foto-seguidor">
          <img th:src="${seguidores.foto}">
        </div>
        <div class="dados-seguidor">
          <span class="nome-seguidor" th:text="${seguidores.nome}"></span>
          <span class="login-seguidor" th:text="${seguidores.login}"></span>
          <span class="desc-seguidor" th:text="${seguidores.descricao}"></span>
        </div>
        <div class="div-btn-seguidor">
          <a id="a-deixar" th:if="${checkPerfil}" th:href="@{|/seguidores/remove/${seguidores.id}|}">
            <button class="btn-seguidor" id="btn-deixar" onmouseover="botaoRemover(this)"
              onmouseout="botaoSegue(this)">Segue Você</button>
          </a>
        </div>
      </div>
    </div>

    <div class="seguidores" id="seguindo" style="display: none;">
      <div class="topo">
        <a href=""><button class="btn-voltar"><i class="fas fa-arrow-left"></i></button></a>
        <div class="btns-seg">
          <button onclick="seguidores()" id="btn-seguidores1">Seguidores</button>
          <button onclick="seguindo()" id="btn-seguindo1">Seguindo</button>
        </div>
      </div>

      <div th:each="seguindo : ${seguindo}" class="div-seguidores"
        th:onclick="'window.location.href = \'' + @{|/perfil/${seguindo.login}|} + '\''">
        <div class="foto-seguidor">
          <img th:src="${seguindo.foto}">
        </div>
        <div class="dados-seguidor">
          <span class="nome-seguidor" th:text="${seguindo.nome}"></span>
          <span class="login-seguidor" th:text="${seguindo.login}"></span>
          <span class="desc-seguidor" th:text="${seguindo.descricao}"></span>
        </div>
        <div class="div-btn-seguidor">
          <a th:if="${checkPerfil}" id="a-deixar" th:href=@{|/seguindo/remove/${seguindo.id}|}>
            <button class="btn-seguidor" id="btn-deixar" onmouseover="botao(this)"
              onmouseout="botaoX(this)">Seguindo</button>
          </a>
        </div>
      </div>
    </div>

    <div class="pright">
      <form autocomplete="off">
        <div class="autocomplete">

          <input id="myInput" type="text" name="myCountry" placeholder="Pesquisar usuários...">
        </div>
      </form>
    </div>
  </div>
  <!--MENU MOBILE-->
  <div class="menu-mobile">
    <a th:href="@{/time-line}"><button class="btm"><i class="fas fa-stream"></i></button></a>
    <a th:href="@{/chat}"><button class="btm"><i class="fas fa-comment"></i></button></a>
    <a th:href="@{|/perfil/${usuario_logado.login}|}"><button class="btm"><i class="fas fa-user"></i></button></a>
    <a th:href="@{/perfil/editar}"><button class="btm"><i class="fas fa-cog"></i></button></a>
  </div>


  <!--RODAPÉ-->
  <input th:value="${checkSeguidor}" hidden id="check">
  <input th:value="${checkPerfil}" hidden id="checkPerfil">
  <!--JAVASCRIPT-->
  <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
  <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

  <script>

    function chekar() {
      var seguir = document.getElementById("a-seguir")
      var deixar = document.getElementById("a-deixar")
      var check = document.getElementById("check").value
      var checkPerfil = document.getElementById("checkPerfil").value
      if (checkPerfil == "false") {
        if (check == "true") {
          deixar.setAttribute("style", "diplay: block")
        } else {

          seguir.setAttribute("style", "display: block")
        }
      }

    }

    function botao(btn) {
      btn.innerText = "Deixar de Seguir"
      btn.setAttribute("style", "background-color: #fa5252")
    }

    function botaoRemover(btn) {
      btn.innerText = "Remover"
      btn.setAttribute("style", "background-color: #fa5252")
    }

    function botaoX(btn) {
      btn.innerText = "Seguindo"
      btn.setAttribute("style", "background-color: #3DD9AD")
    }

    function botaoSegue(btn) {
      btn.innerText = "Segue Você"
      btn.setAttribute("style", "background-color: #3DD9AD")
    }

    function seguidores() {

      var perfil = document.getElementById("pmid")
      var seguidores = document.getElementById("seguidores")
      var seguindo = document.getElementById("seguindo")

      perfil.setAttribute("style", "display: none")
      seguindo.setAttribute("style", "display: none")
      seguidores.setAttribute("style", "display: flex")

      var btn_a = document.getElementById("btn-seguidores")
      var btn_s = document.getElementById("btn-seguindo")
      btn_s.setAttribute("style", "border-bottom: none")
      btn_a.setAttribute("style", "border-bottom: solid 5px #3DD9AD")
    }

    function seguindo() {

      var perfil = document.getElementById("pmid")
      var seguindo = document.getElementById("seguindo")
      var seguidores = document.getElementById("seguidores")

      seguidores.setAttribute("style", "display: none")
      perfil.setAttribute("style", "display: none")
      seguindo.setAttribute("style", "display: flex")


      var btn_a = document.getElementById("btn-seguindo1")
      var btn_s = document.getElementById("btn-seguidores1")
      btn_s.setAttribute("style", "border-bottom: none")
      btn_a.setAttribute("style", "border-bottom: solid 5px #3DD9AD")
    }

  </script>

  <script>
    function autocomplete(inp, arr) {

      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function (e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) {
          return false;
        }
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          let foto = arr[i].foto;
          var nome = arr[i].login
          /*check if the item starts with the same letters as the text field value:*/
          if (nome.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "infos");
            /*make the matching letters bold:*/
            b.innerHTML += "<img src=" + foto + " class='img'  alt='avatar' />"
            b.innerHTML += "<div class='nomes'><div class='login'> <strong class='auto'>" + nome.substr(0, val.length) + "</strong>" + nome.substr(val.length) + "</div><span class='nome'>" + arr[i].nome + "</span>" + "</div>"

            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + nome + "'>";
            /*execute a function when someone clicks on the item value (DIV element):*/
            b.addEventListener("click", function (e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              window.location.href = "/perfil/" + inp.value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
            });
            a.appendChild(b);
          }
        }
      });
      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function (e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          /*If the arrow DOWN key is pressed,
          increase the currentFocus variable:*/
          currentFocus++;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 38) { //up
          /*If the arrow UP key is pressed,
          decrease the currentFocus variable:*/
          currentFocus--;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 13) {
          /*If the ENTER key is pressed, prevent the form from being submitted,*/
          e.preventDefault();
          if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
          }
        }
      });

      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }

      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }

      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
        closeAllLists(e.target);
      });
    }

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    $.get("/todos", function (response) {
      var users = response
      autocomplete(document.getElementById("myInput"), users);
    });

  </script>

</body>

</html>